apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-server
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-server
  template:
    metadata:
      labels:
        app: chat-server
    spec:
      containers:
        - name: chat-server
          image: mshenoydocker/chat-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 6000
          env:
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: chat-server
  namespace: chat-app
spec:
  type: NodePort
  selector:
    app: chat-server
  ports:
    - port: 6000
      targetPort: 6000
      nodePort: 30060